﻿@{
    Layout = null;
}
@model  PlanPaddy.Web.Ui.DTOs.VendorPostRequestModel
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sign Up as  a vendor on PlanPaddy" />
    <meta name="robots" content="noarchive">
    <title>Vendor SignUp - PlanPaddy</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/plugins/listtyicons/style.css" rel="stylesheet">
    <link href="~/plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">
    <link href="~/plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link href="~/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="~/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="~/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/plugins/isotope/isotope.min.css" rel="stylesheet">

    <link href="~/plugins/rateyo/jquery.rateyo.min.css" rel="stylesheet">
    <link href="~/plugins/animate/animate.css" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <link href="~/plugins/googlefonts/googlefontMontserrat.css" rel="stylesheet" />
    <link href="~/plugins/googlefonts/googlefontmuli.css" rel="stylesheet" />
    <link href="~/plugins/googlefonts/googlefontpoppins.css" rel="stylesheet" />
    <link href="~/plugins/googlefonts/Muellerhoff.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">*@
    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/default.css" id="option_color">
    <!-- FAVICON -->
    <link href="~/img/PlanPaddyFavicon.png" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="body" class="body-wrapper boxed-menu">
    <!-- <div class="page-loader" style="background: url(img/preloader.gif) center no-repeat #fff;"></div> -->
    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="smooth-loader">
            <div class="loader1">
                <div class="loader-target">
                    <div class="loader-target-main"></div>
                    <div class="loader-target-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!-- HEADER -->
        <header id="pageTop" class="header">
            <!-- TOP INFO BAR -->
            <div class="nav-wrapper navbarWhite">
                <!-- NAVBAR -->
                <nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <img src="~/img/PlanPaddyLogo.png" />

                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="@Url.Action("Index","Home")">home </a>


                                </li>

                                <li class=""><a href="@Url.Action("Stories","Home")" target="_blank">Stories </a></li>

                            </ul>
                        </div>
                        <a class="btn btn-default navbar-btn" href="@Url.Action("Login","Home")"> + <span>Vendor</span></a>
                    </div>
                </nav>
            </div>
        </header>

        <!-- PAGE TITLE SECTION -->
        <section class="clearfix pageTitleSection" style="background-image: url();">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pageTitle">
                            <h2>Sign Up Page</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SIGN UP SECTION -->
        <section class="clearfix signUpSection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="priceTableWrapper">
                            <div class="priceTableTitle">
                                <h2>Free <small>Free Silver Subscription</small></h2>
                            </div>
                            <div class="priceAmount">
                                <h2>0.00<small>NGN</small></h2>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="signUpFormArea">
                            <div class="priceTableTitle">
                                <h2>Account Registration</h2>
                                <p>Please fill out the fields below to create your account. We will send your account information to the email address you enter. Your email address and information will NOT be sold or shared with any 3rd party. If you already have an account, please, <a href="Login">click here</a>.</p>
                            </div>
                            <div class="signUpForm">
                                <form action="PostVendor" method="post" data-parsley-validate="">
                                    <div class="formSection">
                                        <h3>Contact Information</h3>
                                        <div class="row">
                                            @if (ViewData["Error"] != null)
                                            {
                                                var error = ViewData["Error"] as string;
                                                <h4 class="alert-danger">@error</h4>
                                            }

                                            <div class="form-group col-sm-6 col-xs-12">
                                                <label for="firstName" class="control-label">First Name*</label>
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                                @*<input type="text" class="form-control" id="firstName">*@
                                            </div>
                                            <div class="form-group col-sm-6 col-xs-12">
                                                <label for="lastName" class="control-label">Last Name*</label>
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                                @* <input type="text" class="form-control" id="lastName">*@
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <label for="businessName" class="control-label">Business Name*</label>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                                @* <input type="email" class="form-control" id="businessName">*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formSection">
                                        <h3>Account Information</h3>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="emailAddress" class="control-label">Email Address*</label>
                                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                                @* <input type="email" class="form-control" id="emailAddress">*@
                                            </div>

                                            <div class="form-group col-xs-12">
                                                <label for="mobileNo" class="control-label">Mobile No.*</label>
                                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                                @* <input type="email" class="form-control" id="emailAddress">*@
                                            </div>

                                            <div class="form-group col-xs-12">
                                                <label for="mobileNo" class="control-label">Office Address.*</label>
                                                @Html.EditorFor(model => model.OfficeAddress, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                                @* <input type="email" class="form-control" id="emailAddress">*@
                                            </div>

                                            <div class="form-group col-sm-6 col-xs-12">
                                                <label for="passwordFirst" class="control-label">Password*</label>
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "" } })
                                                @*<input type="password" class="form-control" id="password">*@
                                            </div>
                                            <div class="form-group col-sm-6 col-xs-12">
                                                <label for="passwordAgain" class="control-label">Password (re-type)*</label>
                                                @Html.EditorFor(model => model.Password2, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "" } })
                                                @* <input type="password" class="form-control" id="passwordAgain">*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formSection">
                                       @* <h3>Security Control</h3>*@
                                        <div class="row">
                                            @*<div class="form-group col-xs-12">
                                                    <label for="usernames" class="control-label">Confirm that you are human*</label>
                                                    <img src="img/business/recaptcha.jpg" alt="Image captcha" class="img-responsive img-rtl">
                                                </div>*@
                                            @*<div class="form-group col-xs-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" required = "" >
                                                        By creating an account,you agree to the Terms of Use & Privacy Policy. Your business listing is fully backed by our 100%.
                                                    </label>
                                                </div>
                                            </div>*@
                                            <div class="form-group col-xs-12 mb0">
                                                <button type="submit" class="btn btn-primary">Create Account</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer style="background-image: url('../../img/background/bg-footer-1.png');">
            <!-- FOOTER INFO -->
            <div class="clearfix footerInfo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="footerText">
                                <a href="@Url.Action("Index","Home")" class="footerLogo">
                                    <img src="~/img/PlanPaddyLogo.png" />

                                </a>
                                <p>Planning just got easier...</p>
                                @*<ul class="list-styled list-contact">
                                        <li><i class="fa fa-phone" aria-hidden="true"></i>+2348061647746</li>
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">hello@PlanPaddy.com</a></li>
                                    </ul>*@
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="footerInfoTitle">
                                <h4>Links</h4>
                            </div>
                            <div class="useLink">
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("SignUp","Home")">Vendor SignUp</a></li>
                                    <li><a href="@Url.Action("Login","Home")">Login</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-2 col-xs-12">
                            <div class="footerInfoTitle">
                                <h4>Company</h4>
                            </div>
                            <div class="useLink">
                                <ul class="list-styled list-contact">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>+2348061647746</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">hello@PlanPaddy.com</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- COPY RIGHT -->
            <div class="clearfix copyRight">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyRightWrapper">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-push-7 col-xs-12">
                                        <ul class="list-inline socialLink">
                                            <li><a href="http://www.facebook.com/planpaddy" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="http://www.twitter.com/planpaddy" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="http://www.instagram.com/planpaddy" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                                        <div class="copyRightText">
                                            <p>Copyright &copy; 2018. All Rights Reserved by <a href="@Url.Action("Index","Home")">PlanPaddy</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JAVASCRIPTS -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="~/plugins/waypoints/waypoints.min.js"></script>
    <script src="~/plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="~/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/isotope/isotope.min.js"></script>
    <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/plugins/isotope/isotope-triger.min.js"></script>
    <script src="~/plugins/rateyo/jquery.rateyo.min.js"></script>
   
    <script src="~/js/custom.js"></script>
    <script src="~/js/parsley.min.js"></script>
</body>
</html>

