﻿@{
    Layout = null;
}
@using PlanPaddy.Web.Ui.DTOs
@model PlanPaddy.Web.Ui.DTOs.VendorDto
@{ var vend = ViewData["VendorDetails"] as VendorDto;

   
    }
<!DOCTYPE html>

<html>
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noodp,noydir" />
    <meta name="description" content="View and edit your profile" />
    <title>Vendor Profile - PlanPaddy</title>
    <!-- PLUGINS CSS STYLE -->
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/plugins/listtyicons/style.css" rel="stylesheet">
    <link href="~/plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">
    <link href="~/plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link href="~/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="~/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="~/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/plugins/isotope/isotope.min.css" rel="stylesheet">

    <link href="~/plugins/rateyo/jquery.rateyo.min.css" rel="stylesheet">
    <link href="~/plugins/animate/animate.css" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <link href="~/plugins/googlefonts/googlefontMontserrat.css" rel="stylesheet" />
    <link href="~/plugins/googlefonts/googlefontmuli.css" rel="stylesheet" />
    <link href="~/plugins/googlefonts/googlefontpoppins.css" rel="stylesheet" />
    <link href="~/plugins/googlefonts/Muellerhoff.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">*@
    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/default.css" id="option_color">
    <!-- FAVICON -->
    <link href="~/img/PlanPaddyFavicon.png" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="body" class="body-wrapper boxed-menu">
    <!-- <div class="page-loader" style="background: url(img/preloader.gif) center no-repeat #fff;"></div> -->
    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="smooth-loader">
            <div class="loader1">
                <div class="loader-target">
                    <div class="loader-target-main"></div>
                    <div class="loader-target-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!-- HEADER -->
        <header id="pageTop" class="header">
            <!-- TOP INFO BAR -->
            <div class="nav-wrapper navbarWhite">
                <!-- NAVBAR -->
                <nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <img src="~/img/PlanPaddyLogo.png" />

                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="@Url.Action("Index","Home")">home </a>


                                </li>

                                <li class=""><a href="@Url.Action("Stories","Home")" target="_blank">Stories </a></li>

                            </ul>
                        </div>
                        <a class="btn btn-default navbar-btn" href="@Url.Action("Login","Home")"> + <span>Vendor</span></a>
                       @* <a class="btn btn-danger navbar-btn" href="@Url.Action("VendorItems","Home",@vend)"> + <span>Add Listings</span></a>*@
                       
                    </div>
                </nav>
            </div>
        </header>
        <!-- Dashboard header -->
        <section class="navbar-dashboard-area">
            <nav class="navbar navbar-default lightHeader navbar-dashboard" role="navigation">
               
                <div class="container">
                    
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="col-lg-6 col-md-6  float-left">
                            <ul>                           

                                <li><a href="@Url.Action("VendorItems","Home",@vend)">Add Listings</a></li>

                            </ul>
                           
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-dash" style="background-color:darkorange">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                   
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-dash">
                        <ul class="nav navbar-nav mr0">
                            @*<li class="active">
                        <a href="dashboard.html"><i class="fa fa-tachometer icon-dash" aria-hidden="true"></i> Dashboard</a>
                    </li>*@
                            <li class="dropdown singleDrop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-ul icon-dash" aria-hidden="true"></i> Listings <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    @* <li><a href="#">My Listings</a></li>*@

                                    <li><a href="@Url.Action("VendorItems","Home",@vend)">Add Listings</a></li>

                                </ul>
                            </li>
                            @*<li class="dropdown singleDrop">
                        <a href="#" class="scrolling"><i class="fa fa-star-o" aria-hidden="true"></i> Reviews</a>
                    </li>*@
                            @*  <li><a href="oders.html"><i class="fa fa-cogs icon-dash" aria-hidden="true"></i> Orders</a></li>*@
                            @*  <li><a href="dashboard.html#message" class="scrolling"><i class="fa fa-envelope icon-dash" aria-hidden="true"></i> Messages</a></li>*@
                            <li><a href="#"><i class="fa fa-user icon-dash" aria-hidden="true"></i> Personal Details</a></li>
                        </ul>
                        <div class="row adjustRow">
                            <div class="pull-right col-xs-12 col-sm-2">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="q">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="icon-listy icon-search-2"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <!-- Dashboard breadcrumb section -->
        @*<div class="section dashboard-breadcrumb-section bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>My Profile</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="dashboard.html">Dashboard</a></li>
                            <li class="active">My Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>*@

        <!-- DASHBOARD PROFILE SECTION -->
        <section class="clearfix bg-dark profileSection">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="dashboardBoxBg mb30">
                            @*<div class="profileImage">
                                <img src="img/dashboard/recent-user-5.jpg" alt="Image User" class="img-circle">
                                <div class="file-upload profileImageUpload">
                                    <div class="upload-area">
                                        <input type="file" name="img[]" class="file">
                                        <button class="browse" type="button">Upload a Picture <i class="icon-listy icon-upload"></i></button>
                                    </div>
                                </div>
                            </div>*@
                            <div class="profileUserInfo bt profileName">
                                <p>Your Current Plan</p>
                                <h2>Silver Package</h2>
                                @* <h5>Next Payment: <span>15/01/2018</span></h5>*@
                                @* <a href="#" class="btn btn-primary">Change</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12">

                        @{ if (vend != null)
                            {
                                <form action="@Url.Action("UpdateVendor","Home")" method="post">
                                    <div class="dashboardBoxBg">
                                        <div class="profileIntro">
                                            <h2>Your Profile</h2>
                                            <p>Your Profile details are below</p>
                                        </div>
                                    </div>
                                    <div class="dashboardBoxBg mt30">
                                        <div class="profileIntro">
                                            <h3>About You</h3>
                                            <div class="row">
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="firstNameProfile">First Name</label>
                                                    <input type="text" class="form-control" id="firstNameProfile" readonly="readonly" value=@vend.FirstName>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="lastNameProfile">Last Name</label>
                                                    <input type="text" class="form-control" id="lastNameProfile" readonly="readonly" value=@vend.LastName>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="emailProfile">Email</label>
                                                    @Html.EditorFor(model => model.EmailAddress, @vend.EmailAddress as string, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="aboutYou">Business Name</label>
                                                    <h2 type="text" class="form-control" id="emailProfile" readonly="readonly"> @vend.Name</h2>

                                                </div>


                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="phoneProfile">Phone</label>

                                                    @Html.EditorFor(model => model.MobileNo, vend.MobileNo as string, new { htmlAttributes = new { @class = "form-control" } })

                                                    @* <input type="text" class="form-control" id="phoneProfile" value=@vend.MobileNo>*@
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="aboutYou">About You</label>
                                                    @Html.EditorFor(model => model.Description, vend.Description as string, new { htmlAttributes = new { @class = "form-control" } })

                                                    @*  <textarea class="form-control" rows="5" id="aboutYou" placeholder="About You"></textarea>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dashboardBoxBg mt30">
                                        <div class="profileIntro">
                                            <h3>Social Network</h3>
                                            <div class="row">
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="linkedInUrl">Linked in URL</label>
                                                    @Html.EditorFor(model => model.Instagram, vend.Instagram as string, new { htmlAttributes = new { @class = "form-control" } })

                                                    @*  <input type="text" class="form-control" id="linkedInUrl" placeholder="http://linkedin.com/listty">*@
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="facebookUrl">Facebook URL</label>
                                                    @Html.EditorFor(model => model.Facebook, vend.Facebook as string, new { htmlAttributes = new { @class = "form-control" } })

                                                    @* <input type="text" class="form-control" id="facebookUrl" placeholder="http://facebook.com/listty">*@
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="twitterUrl">Twitter URL</label>
                                                    @Html.EditorFor(model => model.Twitter, vend.Twitter as string, new { htmlAttributes = new { @class = "form-control" } })

                                                    @*  <input type="text" class="form-control" id="twitterUrl" placeholder="http://twitter.com/listty">*@
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="twitterUrl">Instagram Handle</label>
                                                    @Html.EditorFor(model => model.Instagram, vend.Instagram as string, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-area mt30">
                                        <button type="submit" class="btn btn-primary">Save Change</button>
                                    </div>
                                    @*<div class="dashboardBoxBg mt30">
                                        <div class="profileIntro">
                                            <h3>Update password</h3>
                                            <div class="row">
                                                <div class="form-group col-xs-12">
                                                    <label for="currentPassword">Current Password</label>
                                                    <input type="password" class="form-control" id="currentPassword" placeholder="********">
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="newPassword">New Password</label>
                                                    <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="confirmPassword">Confirm Password</label>
                                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <button class="btn btn-primary" type="button">Change Password</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </form>

                            }

                        }
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer style="background-image: url('../../img/background/bg-footer-1.png');">
            <!-- FOOTER INFO -->
            <div class="clearfix footerInfo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="footerText">
                                <a href="@Url.Action("Index","Home")" class="footerLogo">
                                    <img src="~/img/PlanPaddyLogo.png" />

                                </a>
                                <p>Planning just got easier...</p>
                                @*<ul class="list-styled list-contact">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>+2348061647746</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">hello@PlanPaddy.com</a></li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="footerInfoTitle">
                                <h4>Links</h4>
                            </div>
                            <div class="useLink">
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("SignUp","Home")">Vendor SignUp</a></li>
                                    <li><a href="@Url.Action("Login","Home")">Login</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-2 col-xs-12">
                            <div class="footerInfoTitle">
                                <h4>Company</h4>
                            </div>
                            <div class="useLink">
                                <ul class="list-styled list-contact">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>+2348061647746</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">hello@PlanPaddy.com</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- COPY RIGHT -->
            <div class="clearfix copyRight">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyRightWrapper">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-push-7 col-xs-12">
                                        <ul class="list-inline socialLink">
                                            <li><a href="http://www.facebook.com/planpaddy" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="http://www.twitter.com/planpaddy" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="http://www.instagram.com/planpaddy" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                                        <div class="copyRightText">
                                            <p>Copyright &copy; 2018. All Rights Reserved by <a href="@Url.Action("Index","Home")">PlanPaddy</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JAVASCRIPTS -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="~/plugins/waypoints/waypoints.min.js"></script>
    <script src="~/plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="~/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/isotope/isotope.min.js"></script>
    <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/plugins/isotope/isotope-triger.min.js"></script>
    <script src="~/plugins/rateyo/jquery.rateyo.min.js"></script>
   
    <script src="~/js/custom.js"></script>


</body>
</html>
