﻿
@{
    Layout = null;
}
@using PlanPaddy.Web.Ui.Models.Enums

@model PlanPaddy.Web.Ui.DTOs.GetQuoteRequestModel
<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/plugins/listtyicons/style.css" rel="stylesheet">
    <link href="~/plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">
    <link href="~/plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link href="~/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="~/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/plugins/isotope/isotope.min.css" rel="stylesheet">
    <link href="~/plugins/map/css/map.css" rel="stylesheet">
    <link href="~/plugins/rateyo/jquery.rateyo.min.css" rel="stylesheet">
    <link href="~/plugins/animate/animate.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/default.css" id="option_color">
    <!-- FAVICON -->
    <link href="~/img/PlanPaddyFavicon.png" rel="shortcut icon">



</head>

<body id="body" class="body-wrapper boxed-menu">
    <!-- <div class="page-loader" style="background: url(img/preloader.gif) center no-repeat #fff;"></div> -->
    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="smooth-loader">
            <div class="loader1">
                <div class="loader-target">
                    <div class="loader-target-main"></div>
                    <div class="loader-target-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!-- HEADER -->
        <header id="pageTop" class="header">
            <!-- TOP INFO BAR -->
            <div class="nav-wrapper">
                <!-- NAVBAR -->
                <nav id="menuBar" class="navbar navbar-default transparent-navbar " role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="welcome">
                                <img src="~/img/PlanPaddyLogoWhite.png" />
                                @*<img src="~/img/PlanPaddyLogo.png" />*@
                                @*<svg class="logo-svg" version="1" xmlns="http://www.w3.org/2000/svg" width="140" height="44">
                                        <path class="path-1" fill="" d="M0 44V0h139.813v44H0zM137.346 2.467H2.467v39.065h134.879V2.467z" />
                                        <path class="path-1" fill="" d="M120.927 22.389v11.095h-4.566V22.389a371.288 371.288 0 0 0-2.086-2.888 347.047 347.047 0 0 1-2.2-3.053 386.86 386.86 0 0 0-2.201-3.053c-.7-.959-1.395-1.922-2.086-2.888h5.617l5.255 7.287 5.222-7.287h5.649c.002 0-8.604 11.882-8.604 11.882zM98.034 33.484h-4.565V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-21.908 0H71.56V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-17.425-1.789c-.69.623-1.511 1.116-2.463 1.477-.953.361-1.987.542-3.104.542-1.007 0-1.982-.143-2.923-.427a10.814 10.814 0 0 1-2.661-1.214h.033a9.928 9.928 0 0 1-1.577-1.215 18.73 18.73 0 0 1-.953-.952l3.416-3.151c.153.197.399.432.739.706.339.274.728.537 1.166.788.44.253.902.467 1.38.64.481.175.941.262 1.379.262.372 0 .744-.044 1.117-.131.359-.082.703-.22 1.018-.41.305-.185.564-.437.755-.739.197-.306.296-.689.296-1.149 0-.175-.06-.366-.181-.574-.12-.208-.329-.432-.624-.673-.296-.241-.706-.498-1.232-.771a20.567 20.567 0 0 0-1.971-.87 25.42 25.42 0 0 1-2.562-1.132 8.896 8.896 0 0 1-2.053-1.428 5.903 5.903 0 0 1-1.347-1.871c-.317-.7-.476-1.51-.476-2.429 0-.94.175-1.822.526-2.642a6.21 6.21 0 0 1 1.494-2.133c.646-.602 1.423-1.072 2.332-1.412.908-.339 1.911-.509 3.006-.509.591 0 1.22.077 1.889.23.668.153 1.319.35 1.954.591a12.95 12.95 0 0 1 1.79.837c.558.317 1.023.64 1.396.968l-2.825 3.545a15.71 15.71 0 0 0-1.281-.788 10.316 10.316 0 0 0-1.281-.558 4.311 4.311 0 0 0-1.478-.263c-.919 0-1.637.181-2.151.542-.515.361-.772.881-.772 1.559 0 .307.093.586.279.837.186.252.438.482.756.689.348.225.717.417 1.1.574.416.176.854.34 1.314.492 1.314.504 2.42 1.013 3.318 1.526.898.514 1.62 1.062 2.168 1.642s.936 1.204 1.166 1.871c.23.668.345 1.395.345 2.183 0 .963-.197 1.871-.591 2.724a6.803 6.803 0 0 1-1.626 2.216zM34.839 10.507h4.532v22.977h-4.532V10.507zm-20.036 0h4.566v18.415h9.263v4.563H14.803V10.507z" />
                                    </svg>*@
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active dropdown singleDrop">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        @*<li><a class="" href="index.html">Home Map</a></li>
                                            <li><a class="active" href="index-2.html">Home Travel</a></li>
                                            <li><a class="" href="index-3.html">Home Automobile</a></li>
                                            <li><a class="" href="index-4.html">Home City</a></li>*@
                                    </ul>
                                </li>
                                <li class=" dropdown megaDropMenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vendors <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="row dropdown-menu">
                                        <li class="col-sm-4 col-xs-12">
                                            <ul class="list-unstyled">
                                                @*<li><h5>listing Grids</h5></li>
                                                    <li><a href="category-grid.html">Listing Grid Left</a></li>
                                                    <li><a href="category-grid-right.html">Listing Grid Right</a></li>
                                                    <li><a href="category-grid-full.html">Listing Grid Fullwidth</a></li>
                                                    <li><h5>listing lists</h5></li>
                                                    <li><a href="category-list-left.html">Listing list Left</a></li>
                                                    <li><a href="category-list-right.html">Listing list Right</a></li>
                                                    <li><a href="category-list-full.html">Listing list Full</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="col-sm-4 col-xs-12">
                                            <ul class="list-unstyled">
                                                @*<li><h5>listing Sidebar Map</h5></li>
                                                    <li><a href="listing-sidebar-map-left.html">Listing Sidebar Map left</a></li>
                                                    <li><a href="listing-sidebar-map-right.html">Listing Sidebar Map right</a></li>
                                                    <li><a href="listing-sidebar-map-full.html">Listing Sidebar Map Full</a></li>
                                                    <li><h5>listing Details</h5></li>
                                                    <li><a href="listing-details-left.html">Listing Details Left</a></li>
                                                    <li><a href="listing-details-right.html">Listing Details Right</a></li>
                                                    <li><a href="listing-details-full.html">Listing Details Full</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="col-sm-4 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li class="mega-img">
                                                    <a href=""><img src="~/img/works/works-big-3.png" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" dropdown singleDrop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        @*<li><a href="contact-us.html">Contact Us</a></li>
                                            <li><a href="terms-of-services.html">Terms and Conditions</a></li>
                                            <li><a href="sign-up.html">Create Account</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="pricing-table.html">Pricing</a></li>
                                            <li><a href="payment-process.html">Payment</a></li>
                                            <li><a href="how-it-works.html">How It Works</a></li>
                                            <li><a href="user-profile.html">User Profile</a></li>
                                            <li><a href="comming-soon.html">Coming Soon</a></li>
                                            <li><a href="404-page.html">404 Page</a></li>*@
                                    </ul>
                                </li>
                                <li class=""><a href="#">blog </a></li>
                                <li class=" dropdown singleDrop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        @*<li><a href="dashboard.html">Dashboard</a></li>
                                            <li><a href="add-listings.html">Add Listing</a></li>
                                            <li><a href="edit-listings.html">Edit Listing</a></li>
                                            <li><a href="booking-list.html">Booking List</a></li>
                                            <li><a href="dashboard-reviews.html">Reviews</a></li>
                                            <li><a href="listings.html">My Listings</a></li>
                                            <li><a href="profile.html">My Profile</a></li>
                                            <li><a href="oders.html">My Orders</a></li>
                                            <li><a href="sign-up.html">Create Account</a></li>
                                            <li><a href="login.html">Login</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-default navbar-btn" href="#"> + <span>Vendor</span></a>
                    </div>
                </nav>
            </div>
        </header>

        <!-- BANNER SECTION -->
        @*<section class="clearfix homeBanner" style="background-image: url('../../img/banner/banner1.jpg');">*@
        <section class="clearfix homeBanner" style="background-image: url('../../img/banner/BannerTop-17.png');">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banerInfo">
                            <h1>Happily Ever After</h1>
                            <p>Planning your event just got easier</p>
                            <form class="form-inline" action="GetQuote" method="post">
                                <div class="form-group">
                                    <div class="searchSelectbox">
                                        @* <div class="input-group-addon">Category</div>*@
                                        @Html.DropDownListFor(model => model.CategoryId, ViewData["CatList"] as SelectList, new { @class = "select-drop" })
                                        @Html.HiddenFor(m => m.CategoryId)
                                        @* <div class="input-group-addon addon-right"></div>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="searchSelectbox">
                                        @*<div class="input-group-addon">Budget (₦)</div>*@
                                        @* @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.LowerLimit, ViewData["BudList"] as SelectList, new { @class = "select-drop" })
                                        @Html.HiddenFor(m => m.LowerLimit)
                                        @* <input type="text" class="form-control" id="nearLocation" placeholder="What's Your Budget?">*@
                                        @*  <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>*@
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">Budget</div>
                                            @Html.DropDownListFor(model => model.LowerLimit, new SelectList(Enum.GetValues(typeof(Budget))), new { @class = "form-control" })
                                            <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
                                        </div>
                                    </div>*@


                                <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- INTEREST SECTION -->
        <section class="clearfix interestArea">
            <div class="container">
                <div class="page-header text-center">
                    <h2>Let's Take You On A Ride <small>Explore and connect with great vendors</small></h2>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-grid-full.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-tea-cup-1"></i>
                                Food & Drinks
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-list-full.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-building"></i>
                                Hotels and Halls
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-grid.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-martini"></i>
                                Entertainment
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-list-left.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-car-1"></i>
                                Car Rental
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-grid-right.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-castle"></i>
                                Fashion
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-list-right.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-television"></i>
                                Photography
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="category-grid-full.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-mall-1"></i>
                                Make-Up
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a href="all-business.html" class="interestContent">
                            <span>
                                <i class="icon-listy icon-more"></i>
                                View All
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- THINGS SECTION -->
        <section class="clearfix thingsArea">
            <div class="container">
                <div class="page-header text-center">
                    <h2>Popular Vendors <small>This are some of most popular listing</small></h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="thubmnailSlider" class="carousel slide thumbnailCarousel">
                            <ol class="carousel-indicators">
                                <li data-target="#thubmnailSlider" data-slide-to="0" class="active"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="1"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="2"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="3"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="4"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="5"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="6"></li>
                                <li data-target="#thubmnailSlider" data-slide-to="7"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item row active">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="thingsBox">
                                            <div class="thingsImage">
                                                <img src="~/img/things/things-4.jpg" alt="Image things">
                                                <div class="thingsMask">
                                                    <ul class="list-inline rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                    </ul>
                                                    <a href="listing-details-left.html"><h2>Think Coffee <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
                                                    <p>Lekki, Lagos</p>
                                                </div>
                                            </div>
                                            <div class="thingsCaption ">
                                                <ul class="list-inline captionItem">
                                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i> 8 k</li>
                                                    <li><a href="category-list-full.html">Eat & Drink</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="thingsBox">
                                            <div class="thingsImage">
                                                <img src="~/img/things/things-5.jpg" alt="Image things">
                                                <div class="thingsMask">
                                                    <ul class="list-inline rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                    </ul>
                                                    <a href="listing-details-left.html"><h2>Burger House</h2></a>
                                                    <p>Lekki, Lagos</p>
                                                </div>
                                            </div>
                                            <div class="thingsCaption ">
                                                <ul class="list-inline captionItem">
                                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i> 9.2 k</li>
                                                    <li><a href="category-grid-full.html">Eat & Drink</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="thingsBox">
                                            <div class="thingsImage">
                                                <img src="~/img/things/things-8.jpg" alt="Image things">
                                                <div class="thingsMask">
                                                    <ul class="list-inline rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                    </ul>
                                                    <a href="listing-details-left.html"><h2>Bee Bee Foodies <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
                                                    <p>Lekki, Lagos</p>
                                                </div>
                                            </div>
                                            <div class="thingsCaption ">
                                                <ul class="list-inline captionItem">
                                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i> 5k</li>
                                                    <li><a href="category-grid-full.html">Hotels</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="thingsBox">
                                            <div class="thingsImage">
                                                <img src="~/img/things/things-10.jpg" alt="Image things">
                                                <div class="thingsMask">
                                                    <ul class="list-inline rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                    </ul>
                                                    <a href="listing-details-left.html"><h2>Bee Bee Foodies</h2></a>
                                                    <p>Lekki, Lagos</p>
                                                </div>
                                            </div>
                                            <div class="thingsCaption ">
                                                <ul class="list-inline captionItem">
                                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
                                                    <li><a href="category-grid.html"> Eat & Drink</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="thingsBox ">
                                            <div class="thingsImage">
                                                <img src="~/img/things/things-11.jpg" alt="Image things">
                                                <div class="thingsMask">
                                                    <ul class="list-inline rating">
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                    </ul>
                                                    <a href="listing-details-left.html"><h2>Bee Bee foodies <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
                                                    <p>Lekki, Lagos</p>
                                                </div>
                                            </div>
                                            <div class="thingsCaption ">
                                                <ul class="list-inline captionItem">
                                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i> 15 k</li>
                                                    <li><a href="category-list-full.html">Others</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#thubmnailSlider" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            <a class="right carousel-control" href="#thubmnailSlider" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- COUNT UP SECTION -->
        <section class="clearfix countUpSection">
            <div class="container">
                <div class="page-header text-center">
                    <h2>Why PlanPaddy?</h2>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="text-center countItem">
                            <div class="counter">140</div>
                            <div class="counterInfo bg-color-1">Vendors</div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="text-center countItem">
                            <div class="counter">120</div>
                            <div class="counterInfo bg-color-2">Quotes</div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="text-center countItem">
                            <div class="counter">180</div>
                            <div class="counterInfo bg-color-3">Visitors</div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="text-center countItem">
                            <div class="counter">220</div>
                            <div class="counterInfo bg-color-4">Events</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btnArea text-center">
                            <a href="#" class="btn btn-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- WORKS SECTION -->
        <section class="clearfix worksArea">
            <div class="container">
                <div class="page-header text-center">
                    <h2>How it Works? <small>This are some of most popular listing</small></h2>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="thumbnail text-center worksContent">
                            <img src="~/img/works/works-1.png" alt="Image works">
                            <div class="caption">
                                <a href="how-it-works.html"><h3>Event Category</h3></a>
                                <p>Choose a category like Wedding, Anniverssary, Naming Ceremony, Chrismas Party etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="thumbnail text-center worksContent">
                            <img src="~/img/works/works-2.png" alt="Image works">
                            <div class="caption">
                                <a href="how-it-works.html"><h3>Event Budget</h3></a>
                                <p>Choose your budget range i.e 1,000,000 - 1,500,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="thumbnail text-center worksContent">
                            <img src="~/img/works/works-3.png" alt="Image works">
                            <div class="caption">
                                <a href="how-it-works.html"><h3>Event Plan</h3></a>
                                <p>Then we provide you with a list of items and vendors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btnArea text-center"><a href="#" class="btn btn-primary">Watch it now <i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ARTICLES SECTION-->
        <section class="clearfix articlesArea">
            <div class="container">
                <div class="page-header text-center">
                    <h2>Articles <small>Browse latest event tips from our blog or share your story </small></h2>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="thumbnail articleContent">
                            <a href="#"><img src="~/img/articles/article-1.jpg" alt="Image articles" class="img-responsive"></a>
                            <div class="caption">
                                <h4>Jan 22, 2018 by <a href="#">Ade Gori</a></h4>
                                <h3><a href="blog-details.html">How I planned my wedding myself</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="thumbnail articleContent">
                            <a href="#"><img src="~/img/articles/article-2.jpg" alt="Image articles" class="img-responsive"></a>
                            <div class="caption">
                                <h4>jan 20, 2018 by <a href="#">Ade Gori</a></h4>
                                <h3><a href="blog-details.html">How I planned my wedding myself</a></h3>
                                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="thumbnail articleContent">
                            <a href="#"><img src="~/img/articles/article-3.jpg" alt="Image articles" class="img-responsive"></a>
                            <div class="caption">
                                <h4>Jan 10, 2018 by <a href="#">Ade Gori</a></h4>
                                <h3><a href="blog-details.html">How I planned my wedding myself</a></h3>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CALL TO ACTION SECTION -->
        @*<section class="clearfix callAction">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <div class="callInfo">
                                <h4><span>PlanPaddy</span> is the <span>best place</span> <br>to plan your event</h4>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="btnArea">
                                <a href="sign-up.html" class="btn btn-primary btn-block">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
        <!-- FOOTER -->
        <footer style="background-image: url('../../img/background/bg-footer-1.png');">
            <!-- FOOTER INFO -->
            <div class="clearfix footerInfo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="footerText">
                                <a href="#" class="footerLogo">
                                    <img src="~/img/PlanPaddyLogo.png" />
                                    @*<svg class="logo-svg white" version="1" xmlns="http://www.w3.org/2000/svg" width="140" height="44">

                                                                        <path class="path-1" fill="" d="M0 44V0h139.813v44H0zM137.346 2.467H2.467v39.065h134.879V2.467z" />
                                        <path class="path-1" fill="" d="M120.927 22.389v11.095h-4.566V22.389a371.288 371.288 0 0 0-2.086-2.888 347.047 347.047 0 0 1-2.2-3.053 386.86 386.86 0 0 0-2.201-3.053c-.7-.959-1.395-1.922-2.086-2.888h5.617l5.255 7.287 5.222-7.287h5.649c.002 0-8.604 11.882-8.604 11.882zM98.034 33.484h-4.565V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-21.908 0H71.56V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-17.425-1.789c-.69.623-1.511 1.116-2.463 1.477-.953.361-1.987.542-3.104.542-1.007 0-1.982-.143-2.923-.427a10.814 10.814 0 0 1-2.661-1.214h.033a9.928 9.928 0 0 1-1.577-1.215 18.73 18.73 0 0 1-.953-.952l3.416-3.151c.153.197.399.432.739.706.339.274.728.537 1.166.788.44.253.902.467 1.38.64.481.175.941.262 1.379.262.372 0 .744-.044 1.117-.131.359-.082.703-.22 1.018-.41.305-.185.564-.437.755-.739.197-.306.296-.689.296-1.149 0-.175-.06-.366-.181-.574-.12-.208-.329-.432-.624-.673-.296-.241-.706-.498-1.232-.771a20.567 20.567 0 0 0-1.971-.87 25.42 25.42 0 0 1-2.562-1.132 8.896 8.896 0 0 1-2.053-1.428 5.903 5.903 0 0 1-1.347-1.871c-.317-.7-.476-1.51-.476-2.429 0-.94.175-1.822.526-2.642a6.21 6.21 0 0 1 1.494-2.133c.646-.602 1.423-1.072 2.332-1.412.908-.339 1.911-.509 3.006-.509.591 0 1.22.077 1.889.23.668.153 1.319.35 1.954.591a12.95 12.95 0 0 1 1.79.837c.558.317 1.023.64 1.396.968l-2.825 3.545a15.71 15.71 0 0 0-1.281-.788 10.316 10.316 0 0 0-1.281-.558 4.311 4.311 0 0 0-1.478-.263c-.919 0-1.637.181-2.151.542-.515.361-.772.881-.772 1.559 0 .307.093.586.279.837.186.252.438.482.756.689.348.225.717.417 1.1.574.416.176.854.34 1.314.492 1.314.504 2.42 1.013 3.318 1.526.898.514 1.62 1.062 2.168 1.642s.936 1.204 1.166 1.871c.23.668.345 1.395.345 2.183 0 .963-.197 1.871-.591 2.724a6.803 6.803 0 0 1-1.626 2.216zM34.839 10.507h4.532v22.977h-4.532V10.507zm-20.036 0h4.566v18.415h9.263v4.563H14.803V10.507z" />
                                                                    </svg>*@
                                </a>
                                <p>Happily Ever After</p>
                                <ul class="list-styled list-contact">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>+2347012966622</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">hello@PlanPaddy.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="footerInfoTitle">
                                <h4>Links</h4>
                            </div>
                            <div class="useLink">
                                <ul class="list-unstyled">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Create Account</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Add Listing</a></li>
                                    <li><a href="#">Edit Listing</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <div class="footerInfoTitle">
                                <h4>Company</h4>
                            </div>
                            <div class="useLink">
                                <ul class="list-unstyled">
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                    <li><a href="#">How It Works</a></li>
                                    <li><a href="#">Payment</a></li>
                                    <li><a href="#">Pricing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COPY RIGHT -->
            <div class="clearfix copyRight">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyRightWrapper">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-push-7 col-xs-12">
                                        <ul class="list-inline socialLink">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                                        <div class="copyRightText">
                                            <p>Copyright &copy; 2018. All Rights Reserved by <a href="#">PlanPaddy</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- LOGIN  MODAL -->
    <div id="loginModal" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Log In to your Account</h4>
                </div>
                <div class="modal-body">
                    <form class="loginForm">
                        <div class="form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                            <a href="#" class="pull-right link">Fogot Password?</a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>Don’t have an Account? <a href="#" class="link">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPTS -->

    <script type="text/javascript">
        $(function () {
            $("#CategoryId").on("change", function {
                $("#CategoryIdText").val($(this).val());
            });

            $("#LowerLimit").on("change", function {
                $("#LowerLimitText").val($(this).val());
            });
        });
    </script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="~/plugins/waypoints/waypoints.min.js"></script>
    <script src="~/plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="~/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/isotope/isotope.min.js"></script>
    <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/plugins/isotope/isotope-triger.min.js"></script>
    <script src="~/plugins/rateyo/jquery.rateyo.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>
    <script src="~/plugins/map/js/rich-marker.js"></script>
    <script src="~/plugins/map/js/infobox_packed.js"></script>
    <script src="~/js/single-map.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/custom.js"></script>
</body>

</html>
