﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Account Activation</title>
</head>
<body>
    <table align="center" bgcolor="#d4dbe1" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <table align="center" bgcolor="#d4dbe1" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed;margin:0 auto" width="100%">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <p>&nbsp;</p>
                                    <table align="center" bgcolor="#d4dbe1" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed;margin:0 auto;min-width:668px" width="668">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="min-width:668px">
                                                    <table align="center" bgcolor="#fdfdfd" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #dde5f1;border-radius:6px 6px 0 0" width="630">
                                                        <tbody>
                                                            <tr>
                                                                <td width="630" align="left" valign="middle" style="min-width:630px">
                                                                    <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td width="30">&nbsp;</td>
                                                                            <td>&nbsp;</td>
                                                                            <td>&nbsp;</td>
                                                                            <td width="30">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="30">&nbsp;</td>
                                                                            <td>
                                                                                <img src="IMAGEEMBED" />
                                                                            </td>
                                                                            <td width="30">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="30">&nbsp;</td>
                                                                            <td>&nbsp;</td>
                                                                            <td>&nbsp;</td>
                                                                            <td width="30">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td style="color:#425065;font-family:sans-serif;font-size:13px;font-weight:lighter;text-align:left;line-height:23px" colspan="2">
                                                                                <!--<p style="text-align: center; text-decoration: underline; font-size: 16px; color: darkgreen;"><strong>Account Activation</strong></p>-->
                                                                                <p>Dear	Name,</p>
                                                                                <p><strong>Thank you for indicating your interest in registering Company as a vendor on PlanPaddy.</strong></p>
                                                                            </td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td colspan="2" style="color:#425065;font-family:sans-serif;font-size:13px;font-weight:lighter;line-height:23px">
                                                                                <p>To verify your email address, kindly enter the code below in the input box as required in the application. </p>
                                                                                <p style="color: green;">Verification Code:</p>
                                                                                <p style="font-size: 30px; font-weight: 700; color: #005483;">VerificationCode</p>
                                                                            </td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td colspan="2" style="color:#425065;font-family:sans-serif;font-size:13px;font-weight:lighter;line-height:23px">
                                                                                <p>For further enquiries, do not hesitate to contact us. Please see our contact details below:</p>
                                                                                <strong>
                                                                                    <ul>
                                                                                        <li>General Enquiry: 07012966622</li>
                                                                                        <li>Email: <a href="mailto:hello@PlanPaddy.com" target="_blank">hello@PlanPaddy.com</a></li>
                                                                                    </ul>
                                                                                </strong>
                                                                                <p>Best Regards,</p>
                                                                                <p>
                                                                                    <strong>PlanPaddy</strong><br />
                                                                                </p>
                                                                            </td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="height: 20px;">
                                                                                <p></p>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
